.portfolioForm {
}
.formSection {
  margin: 0 10rem 3rem 10rem;
}

.formDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-group {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0 3rem 1.5rem 0;
}

.full-row {
  grid-column: span 2;
}

h2 {
  margin-bottom: 0.4rem;
}

p {
  margin-bottom: 2rem;
}

input,
textarea {
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(227, 227, 227);;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: rgb(144, 144, 144);
}

textarea {
    min-height: 140px;
}