.formSection {
  margin: 0 10rem 3rem 10rem;
}

.formDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-group {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0 3rem 1.5rem 0;
}

.full-row {
  grid-column: span 2;
}

h2 {
  margin-bottom: 0.4rem;
}

p {
  margin-bottom: 1.4rem;
}

input,
textarea {
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(227, 227, 227);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  color: rgb(144, 144, 144);
}

textarea {
  min-height: 140px;
}

/* --- Skill Tags --- */
.skills-tags,
.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.skill-tag,
.tech-tag {
  display: inline-flex;
  align-items: center;
  background: #eef1ff;
  border: 1px solid #d3d9ff;
  color: #333;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.remove-tag {
  background: none;
  border: none;
  margin-left: 6px;
  cursor: pointer;
  color: #666;
}
.remove-tag:hover {
  color: #000;
}

/* --- Dropdown styling --- */
.skill-input-wrapper {
  position: relative;
}

.skills-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
}
.dropdown-item:hover {
  background: #eef4ff;
}

/* Experience Section */
.experienceSection {
  background-color: #fcfdfd;
  padding: 20px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.add-experience-btn {
  background: #4f7cff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
}

.add-experience-btn:hover {
  background: #3d66e6;
}

.techSection {
  margin-bottom: 0px;
}

/* generate portfolio */

.generate-btn-wrap {
  display: flex;
  justify-content: center;
}

.generate-btn {
  background: linear-gradient(135deg, #155dfc 0%, #4f39f6 100%);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  transition: all 0.3s;
}

.generate-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 24px rgba(79, 124, 255, 0.4);
}

.generate-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.generate-btn:disabled:hover {
  transform: none;
  cursor: not-allowed;
  box-shadow: none;
}