.HeroSection {
  /* margin: 8rem; */
  margin: 8rem 2rem;
}
.HeroSection h1 {
  font-family: "Inter", sans-serif;
  font-size: 63px;
  font-weight: 400; /* Regular */
  line-height: 63px; /* same as Figma */
  letter-spacing: 0.23px;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.HeroSection p {
  text-align: center;
  color: #4a5565;
}

.Title2 {
  color: #0e58f9;
}
